# DACON 데이터 사이언스 

>##  1st Week 
    >##  1단계 파이썬 기초

## I. 아나콘다 & 주피터

파이썬 파일 생성
- 파일을 생성할 땐 언제나 **Rename**하는 습관!

### **자주 쓰는 단축키**

코드실행
- **`Ctrl + Enter`** : 선택한 셀을 실행합니다.
- **`Shift + Enter`** : 선택한 셀을 실행하고 다음 셀로 넘어갑니다. 만약 다음 셀이 없을 경우 셀을 생성합니다.
- 여러 셀을 선택하고 한꺼번에 구동할 수도 있습니다.

셀 추가
- **`A`** : 새로운 셀을 선택한 셀 위에 추가합니다.
- **`B`** : 새로운 셀을 선택한 셀 아래에 추가합니다.

셀 속성 변경
- **`Y`** : 선택한 셀을 Code입력모드로
- **`M`** : 선택한 셀을 마크다운(Markdown)입력모드로
- 마크다운 문법 참고 링크: https://gist.github.com/ihoneymon/652be052a0727ad59601

셀 복사/붙여넣기 & 삭제하기/되돌리기
- **`X`** : 선택한 셀을 잘라내기
- **`C`** : 선택한 셀을 복사하기
- **`V`** : 복사한 셀을 선택한 셀 아래에 붙여넣기
- **`D,D`** : 선택한 셀을 삭제하기
- **`Z`** : 시행 되돌리기

기타
- **`Ctrl + B`** : 디렉토리창 숨기기/보이기
- 함수에 커서를 두고 **`Shift + Tab`** : 함수 설명 보기(파라미터 확인할 때 좋습니다)
- **`Settings`** :  
`JupyterLab Theme`- 테마변경, `Advanced Setting Editer` - 기타 설정 변경 가능
- **`Help`**: 각종 Reference들(Python, Numpy, Matplotlib, Pandas 등등)을 확인할 수 있습니다

#### 들어가기 앞서  `파이썬의 도.. `

In [10]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

중요한 것은 파이썬은 단순함과 가독성을 중시 한다는 것 그 한가지

## Ⅱ. 파이썬 기본 문법
 
### 01. 기초 자료형
### 02. 사칙연산

--------------

> ### 숫자 자료형
+ 정수형
Integer
+ 실수형
Float
+ 8진법 16진법 
Octal , Hexadecimal

#### 정수형
양수 , 음수 , 0 의 정수형 자료

In [10]:
type(112)  # 자료형의 타입을 알려주는 type 함수

int

In [11]:
# 결과값을 출력해주는 print 함수를 통해 양수 음수 0 의 자료 Type 을 알아 봅시다 

print( type(119) )

print( type(-112) )

print( type(0) ) #왜 print를 사용해야 될까요?

<class 'int'>
<class 'int'>
<class 'int'>

#### 실수형
소수점이 포함되 숫자

In [16]:
print( type (1.19) )

print( type( -0.12))

print( type(-0.0))

<class 'float'>
<class 'float'>
<class 'float'>

### 숫자형 자료 사칙연산

+ 더하기 빼기

In [30]:
a = 11 # a 변수에 11 저장 
b = 5  # b 변수에 5 저장 

print(a+b)

print( type(a+b) )

16
<class 'int'>

In [29]:
c = 6.0

print(a-c)

print( type(a-c))  # float ,형을 이용하여 사칙연산 시행시 float 으로 변환

5.0
<class 'float'>

+ 곱하기 나누기 제곱

In [35]:
a = 10
b = 3

print(a * b)   #곱하기

print(a / b)   #나누기

print( a ** b) # 제곱

30
3.3333333333333335
1000

+ etc

In [38]:
a = 10
b = 3

print(a //b)   # 몫만 구하기

print( a % b)  # 나머지 반환

3
1

------------------------

> ### 문자열 자료형
+ String : 단어, 문자들로 구성된 집합

'Hello'
'안녕!' 
"Let's start Python !" 

문자열 자료형의 경우 위와 같이 '     '  혹은  "     "  로 둘러싸주시면 됩니다

In [39]:
type('Hello')

str

In [40]:
type('안녕!')

str

In [46]:
type("Let's start Python!")   # 문자열 안에 ''  을 포함시키고 싶을때는 큰따옴표 " " 로 둘러싸주시면 됩니다

str

In [47]:
type("Let\'s start Python!")  # 백슬래시 | 를 이용하여 문자임을 표시해주는 방법도 있습니다   #선택은 자유!

str

***  
자주 사용 되는 **`이스케이프 코드`** 알아보기

    \n	:  문자열 안에서 줄을 바꿀 때 사용  
    \t	:  문자열 사이에 탭 간격을 줄 때 사용  
    \\	:  문자 \를 그대로 표현할 때 사용  
    \'	:  작은따옴표(')를 그대로 표현할 때 사용  
    \"	:  큰따옴표(")를 그대로 표현할 때 사용  
***

In [56]:
print( 'Hello \n \t \'World\' \n')

Hello
 	 'World'

### 문자열의 사칙 연산  
파이썬은 특별하게 문자열을 더하고 곱할 수 있습니다

In [58]:
a = '백견이'
b = '불여일타' 
print( a+b)

백견이불여일타

In [60]:
c = '영차'

print(c*2)
print(c*10)

영차영차
영차영차영차영차영차영차영차영차영차영차

### 문자열 심화  
+ 문자열 길이 구하기
+ 인덱싱
+ 슬라이싱

In [4]:
## 문자열 길이 구하기
string_ = 'Data science Camp'

len( string_ ) # 파이썬 내장함수인 len 은 띄어쓰기를 포함한 문자열의 길이를 반환해 줍니다

17

In [5]:
## 문자열 인덱싱 : 원하는 특정 문자만 뽑아내기
string_[0]  # 첫번째 문자만 출력

'D'

In [6]:
string_[-1]   # 마지막 문자 출력

'p'

In [7]:
## 문자열 슬라이싱  
string_[0:1]  #범위의 마지막 문자는 포함되지 않습니다  - 문자열의 첫번째 값만 출력

'D'

In [8]:
string_[5:]  # 6번째 문자 부터 끝까지 출력

'science Camp'

In [9]:
string_[ :5] # 처음부터 5번째까지 출력

'Data '

> Quiz : 'science' 만 출력하고 싶다면 어떻게 해야 할까요?

In [80]:
string_[5:12]

'science'

In [1]:
## - 를 사용하면 뒤에서부터 순서를 셀 수 있습니다
# Camp 만 출력하기 

string_[-4:]    # 뒤에서 4번째 숫자부터 끝까지 출력하기

NameError: name 'string_' is not defined

  
  
  
  
  ----------------

> ### 리스트 자료형  
숫자형 자료와 문자열 자료 등을 하나의 집합으로 모을 수 있는 리스트 입니다.

In [10]:
# 여러 가지 구조의 리스트 

a = []  # 비어있는 리스트

b = [0, 1, 2]   # 숫자형 자료가 들어있는 리스트

c = ['Data', 'Science', 'too', 'easy']   # 문자열 자료

d = [0, 1, 'Data', 'science'] # 숫자 + 문자열

e = [2, 0, ['too', 'easy']]  # 숫자 + 문자열 리스트 - 리스트가 포함된 중첩 리스트 구조

In [11]:
print( type(a) ,'\n')

print(a ,'\n')
print(b ,'\n')
print(c ,'\n')
print(d ,'\n')
print(e ,'\n')

<class 'list'>

[]
[0, 1, 2]

['Data', 'Science', 'too', 'easy']

[0, 1, 'Data', 'science']

[2, 0, ['too', 'easy']]

### 리스트 자료  심화
+ 리스트 길이 구하기
+ 인덱싱
+ 슬라이싱 
+ 리스트 관련 함수

In [16]:
list_ = ['Data', 'Science', 101, 'Camp'] # 파이썬에서는 이미 list 라는 함수가 있기 때문에

In [17]:
## 리스트 길이 구하기
len(list_)

4

In [14]:
## 리스트 인덱싱과 슬라이싱

print(list_[1], '\n')
print(list_[1:3], '\n')

### 리스트에서 인덱싱과 슬라이싱을 했을때의 자료 Type! 
print(type(list_[1]) ,'\n')
print( type(list_[1:3]))

Science

['Science', 101]

<class 'str'>

<class 'list'>

***리스트도 연산할 수 있다!***

In [116]:
a = [1, 2, 3]
b = ['Hello', 'World']

print(a*2)
print(a+b)

#### 주의 할 점 ####
# 아래와 같이 서로 다른 Type 의 자료형을 더해줄 경우에는 Error 가 뜹니다 
# 같은 자료 구조 끼리만 연산 가능   ex) 숫자&숫자 , 문자&문자, 리스트&리스트

#  print( a[0] + b[1])

[1, 2, 3, 1, 2, 3]
[1, 2, 3, 'Hello', 'World']

***추가***   
*리스트 관련 함수*

In [142]:
list_ = [2, 1, 3, 4]

In [143]:
## 리스트에 요소 추가하기 : append

list_.append(5)

print(list_)

[2, 1, 3, 4, 5]

In [144]:
## 원하는 위치에 요소 삽입하기 : insert

list_.insert(1, 'and')

print(list_)

[2, 'and', 1, 3, 4, 5]

In [145]:
## 리스트 요소 제거 : remove
# remove(*)는 리스트에서 첫 번째로 나오는 *을 삭제하는 함수입니다

list_.remove('and')
print(list_)

[2, 1, 3, 4, 5]

In [148]:
## 리스트 정렬 : sort

list_.sort()

print(list_)

[1, 2, 3, 4, 5]

In [149]:
## 역순으로 정렬도 할 수 있습니다 
### sort 뒤를 클릭 후 shift + tab 을 눌러 보시면  'sort'함수의 value 들을 확인 할 수 있습니다
list_.sort(reverse= True)  # 역순을 True 로 설정하면!

print( list_) #  거꾸로 배열이 됨을 확인 할 수 있습니다

[5, 4, 3, 2, 1]

----------------

> ### 튜플 자료형
리스트와 거의 유사하지만  
차이점은 값을 *수정 및 삭제* 가 불가하다는 점이 다릅니다

In [150]:
tuple_ = (1,2,3,4)

In [152]:
tuple_.append(5)  # 5 를 추가하려하자 Error 가 발생!

AttributeError: 'tuple' object has no attribute 'append'

----------------------

> ### 딕셔너리 자료형  
  
     이름: 송해  
     출생년도 : 1927
     방송 : 전국노래자랑  

위 와 같이 대응 되는 구조를 갖는 자료를 딕셔너리 자료형이라고 합니다  

Key 를 통해 Value를 얻는 구조 입니다.  

*{Key1:Value1,  Key2:Value2,  Key3:Value3,  ...}*

In [155]:
dic =  { 'name':'IU' , 'age':27 ,'인기곡':['좋은날','마쉬멜로우','금요일에 만나요',23] }

print(type(dic))

<class 'dict'>

딕셔너리에서 Key 를 사용하여 Value 얻기

    아이유의 인기곡을 불러옵시다 
    
    Dict['Key'] 와 같이 대괄호를 이용하여 불러옵니다

In [159]:
dic['인기곡']

['좋은날', '마쉬멜로우', '금요일에 만나요', 23]

딕셔너리의 Key   or   Value 만 얻기  
    
    keys() 함수와 values() 함수를 이용합니다

In [161]:
print(dic.keys())

print(dic.values())

dict_keys(['name', 'age', '인기곡'])
dict_values(['IU', 27, ['좋은날', '마쉬멜로우', '금요일에 만나요', 23]])

----------------
----------------
### 03. 함수 만들기

함수는 들어온 입력값을 받아 어떤 처리를 하여 적절한 결괏값을 돌려줍니다.

입력값 ---> 함수 ----> 결괏값

두 변수를 받아 합을 반환하는 함수를 만들어 볼까요?

    a + b = ?

In [165]:
def add(a,b):
    return a+b

##   a 와 b 를 입력 받아 a+b를 출력하는  add 함수를 만들어 보았습니다!
##  파이썬에서 함수를 만들때에는 들여쓰기를 해주어야 한다는 점 알아주세요!

In [168]:
c = add(5,7)

print(c)

12

입력 값이 없는 함수도 있습니다.

In [257]:
def shout():
    print('야호 '*10)

In [258]:
shout()

야호 야호 야호 야호 야호 야호 야호 야호 야호 야호

## Ⅲ. 제어문 반복문
 
### 01. IF
### 02. For 
### 03. While

-------------------
> ### IF 문 

if  조건문 :  
&nbsp;&nbsp;&nbsp;&nbsp;수행할 문장  
&nbsp;&nbsp;&nbsp;&nbsp;수행할 문장  
&nbsp;&nbsp;&nbsp;&nbsp;수행할 문장  
    
~ 할때 ~ 해라 조건을 만들어주는 If 조건문

조건문은 비교 연산자 등을 이용하여 원하는 조건을 만들어 줍니다

> *비교 연산자*

![비교연산자](https:/t1.daumcdn.net/cfile/tistory/2357563D56A8F49C1E)

--------------
`겨울이라면 현금을 가지고 다녀라` 를 IF 문으로 바꾸어 볼까요?

In [203]:
## 기본적인 if / else 구조 
season = '겨울'


if season== '겨울':
    print('현금을 가지고 다녀라')
else:
    print('현금 소지는 자유다 ')

현금을 가지고 다녀라

*IF 조건문 뒤에는 : (콜론) 을 붙이며  수행할 문장 들에 대해서는 들여쓰기를 해야 한다는 점 주의해 주세요!*

In [204]:
## 오류 예시 
a = 10

if a > 5 :
b = a * 2
    print(b)

IndentationError: expected an indented block (<ipython-input-204-a48dd39d6e41>, line 5)

    아래와 같은 다수의 조건문도 가능합니다.

In [205]:
season = '겨울'
cash = 500


if season== '겨울':
    if cash >= 1000:
        print('붕어빵을 사먹을 수 있다')
    else:
        print('붕어빵에 실패했다')
else:
    print('현금 소지는 자유다')

붕어빵에 실패했다

 **IF + ELIF 조건문**

In [ ]:
if 조건식:
    코드1
elif 조건식:
    코드2
else:
    코드3

IF & ELIF & ELSE  를 이용한 자판기 코드를 만들어 봅시다

In [212]:
button = 3
 
if button == 1:
    print('레츠비')
elif button == 2:
    print('웰치스')
elif button == 3:
    print('코카콜라')
else:
    print('제공하지 않는 메뉴')

코카콜라

***파이썬의 다양한 조건문***  
파이썬은  `in` 과 `not in` 등의 조건문도 사용가능합니다

In [206]:
1 in [1,2,3]

True

In [207]:
1 not in [1,2,3,4]

False

In [209]:
'D' in 'Dacon'

True

In [210]:
'd' in 'Dacon'

False

> ### 반복문 : For & While

for문의 기본 구조:  
  
>for 변수 in 리스트 (또는 튜플, 문자열):  
>>    수행할 문장1  
      수행할 문장2  
    ...  
    
*For 문 알고리즘 표 그려보기*

In [220]:
# 가장 기본적인 for 문 구조
## 1 부터 10 까지의 숫자를 더하여 봅시다

sum1 = 0
for i in [1,2,3,4,5,6,7,8,9,10]:
    sum1 += i
print(sum1)




sum2 = 0
for i in range(1,11):
    sum2 += i
print(sum2)

# range(1,11) 은 1 이상 11미만의 정수
# range(1,10,2) 은  1 부터 2씩 증가하며 10 미만까지의 정수

55
55

리스트를 이용한 For 문

In [18]:
for i in ['햄버거','피자','치킨']:
    print('나는', i, '가 먹고 싶다')

나는 햄버거가 먹고 싶다
나는 피자가 먹고 싶다
나는 치킨가 먹고 싶다

> ### WHILE 반복문
While 반복문의 기본 구조:

>while 조건문:  
>>    수행할 문장1  
      수행할 문장2  
    ...  
    
For 문 과 굉장히 유사한것을 알 수 있죠?

In [227]:
## 가장 기본적인 Whiie 반복문 구조

i = 0
while i <=5:
    print('붕어빵',i,'마리')
    i += 1 # while 과 for 문의 차이 !

붕어빵 0 마리
붕어빵 1 마리
붕어빵 2 마리
붕어빵 3 마리
붕어빵 4 마리
붕어빵 5 마리

`i = 0` 일때 부터 시작하여 `i` 가 1씩 증가되고 있는 것을 볼 수 있죠?  
마지막 반복에서 `i=5`일떄  `i`에 1이 더해져 6이 되어 ` i <= 5`라는 

조건문에 부합하지 않아   
반복문에 멈춘것을 확인 할 수 있습니다.

In [2]:
coke = 5

while True:
    print('콜라를 줍니다')
    coke -= 1
    
    if coke == 0:
        print('콜라가 다 떨어졌습니다.')
    break

콜라를 줍니다

#### 강제로 while 문 빠져나가기  
콜라가 다 떨어 질때까지 공짜로 콜라를 주는 자판기를 코드로 만들어 봅시다.   
`while True:`를 통해 무한 루프를 만들어 준 후,  
콜라의 개수가 0이 되면  break 를 통해  
While 반복문을 빠져나가 도록 만들어 보겠습니다.

In [3]:
coke = 5

while True:
    print('콜라를 줍니다')
    coke -= 1
    
    if coke == 0:
        print('콜라가 다 떨어졌습니다.')
        break

콜라를 줍니다
콜라를 줍니다
콜라를 줍니다
콜라를 줍니다
콜라를 줍니다
콜라가 다 떨어졌습니다.

만약 break 를 사용하지 않았다면 무한루프 속에 갖혔겠죠?  
위 와 같이 무한루프가 생기지 않도록 break 을 잘 사용해 주어야 합니다.

#### While 문 심화:

자 요번에는 While  문 심화 입니다.  
10개의 700원짜리 콜라가 있는 자판기에서 5000원의 돈으로 최대한 많이 콜라를 뽑아보겠습니다.  
  
+ 조건:
    + 무한 루프 `while True:` 사용
    + 콜라가 다 떨어졌을 때에는 `'콜라가 다 떨어졌습니다.'` 라고 출력하기
    + 돈이 부족할 때에는 `'돈이 부족합니다'` 와 `'남은 콜라는 ㅇㅇ개 입니다'` 출력하기
    + 콜라가 다 떨어지거나 돈이 부족하여 끝날시에는 `'거스름돈은 ㅇㅇㅇ원 입니다'` 라고 출력하기

In [ ]:
coke = 10  
money = 5000

while True:
    if money == 700:
        print("콜라를 줍니다. 거스름 돈은 0원 입니다")
        coke = coke -1
        money -= 700 # -= 설명 
    elif money > 700:
        print("콜라를 줍니다.")
        coke = coke -1
        money -= 700
    else:
        print("거스름 돈은",money,"입니다.", "돈이 부족합니다")
        print("남은 콜라는" ,coke,"개 입니다.")
        break
    if coke == 0:
        print("거스름 돈은",money-700,"입니다","콜라가 다 떨어졌습니다.")
        print("판매를 중지 합니다.")
        break

_________________

> # 파이썬 기초 : 두번째 시간  
+ 클래스와 함수
+ 모듈과 라이브러리
+ 데이터 불러오기
+ 판다스 기초

## 클래스와 함수   
클래스를 배우기 앞서!  
객체 지향 언어에 대해 알아봅시다

----------------
***파이썬은 객체지향 언어!***  
+ *`객체지향 언어`란?*   
프로그래밍에서 필요한 데이터를 추상화시켜 상태와 행위를 가진 `객체`를 만들고  
그 `객체`들 간의 유기적인 상호작용을 통해 로직을 구성하는 프로그래밍 방법입니다.  
  
+ *그래서 `객체`가 뭔데?*  
`클래스` : 붕어빵 틀이라면  
`객체` : 붕어빵 틀에서 찍혀 나온 붕어빵  
  
+ *그래서 객체 지향언어를 왜 쓰는데?*  
        
    + *코드 재사용이 용이*  
    남이 만든 클래스를 가져와서 이용할 수 있고 상속을 통해 확장해서 사용할 수 있음.  
  
    + *유지보수가 쉬움*  
    절차 지향 프로그래밍에서는 코드를 수정해야할 때 일일이 찾아 수정해야하는 반면 객체 지향 프로그래밍에서는 수정해야 할 부분이 클래스 내부에 멤버 변수혹은 메서드로 있기 때문에 해당 부분만 수정하면 됨.   
      
    + *대형 프로젝트에 적합*  
    클래스단위로 모듈화시켜서 개발할 수 있으므로 대형 프로젝트처럼 여러명, 여러회사에서 개발이 필요할 시 업무 분담하기 쉽다.   

---------------------

+ ### 클래스 
클래스는 무엇일까요?  
서로 공통점을 갖는 '부류' 라고 생각하시면 쉬울 것 같습니다.  

`'아이유'` ,`'태연'`, `'폴킴'` 이 세 명의 가수들의 공통점을 무엇일까요?  
세 명 모두  `가수` 라는 공통점을 가지고 있죠.  

`가수`라는 것이 하나의 사람이나 물건으로 실제 존재 하지는 않지만,  
이러한 부류의 사람들을 묶어주는 단어임을 알 수 있는데요.   
이러한 `부류`를 `클래스`라고 생각하시면 될 것 같습니다.

*예시를 한번 볼까요?*  
  
`가수` 라는 클래스에서  
`아이유` 라는 실체(`인스턴스`) 를 만든 후  
클래스 내부에 노래를 부르게 하는 함수(`메소드`)를 만들어 보겠습니다.

In [314]:
#파이썬에서 객체지향 프로그래밍의 기본 단위인 클래스를 만들기 위해서는 아래와 같이 "class `ClassName`" 을 사용하여 정의합니다.  
#클래스 이름의 첫글자는 대문자로 해야하는것 꼭 주의하세요!

class Singer:                      # 가수라는 클래스 생성
    def sing(self):                # 노래부르기 메서드   
        return "SingSing!"

 
IU = Singer()                   # 아이유를 만들어서
IU.sing()                       # 노래를 불러달라 하기!

'SingSing!'

In [363]:
BTS = Singer()
BTS.sing()

'SingSing!'

    def sing(self):                # 노래부르기 메서드   
        return "SingSing!"
        
위 코드에서 self 는 해당 클래스를 받는 객체(인스턴스) 자기자신을 의미 합니다.  
  
+ 그렇다면 self 를 사용한 이유는 무엇일까요?  

`아이유`와 `방탄소년단`이 같은 sing 메서드를 가지기 때문에 서로 구별하기 위해서 사용한 것입니다.  
메서드를 정의 할 때는 self를 꼭 써야되겠구나~ 생각하시면 됩니다.

### 클래스 심화

---------------
**자 요번엔 조금 더 재미있는 게임 예제를 통해 클래스를 알아봅시다**  

메이*스토리의 도적 캐릭터를 만들어 보겠습니다.

In [362]:
class Dojeok:
    Lev = 1
    Str = 10
    Dex = 50
    Int = 10
    Luck = 100

    def attack(self):
        return 'Pyo-Chang  : ~~~*'

In [338]:
Aruru = Dojeok()

Aruru.Luck

100

In [339]:
Aruru.attack()

'Pyo-Chang  : ~~~*'

공격을 하면 표창을 날리는 아루루 캐릭터를 만들었습니다.  

사냥을 하면 능력치가 올라갈수 있도록 `hunting` 메소드를 추가해 볼까요?

In [353]:
class Dojeok:
    #클래스 변수 만들어 주기 
    Lev = 1 
    Str = 10
    Dex = 50
    Int = 10
    Luck = 100

    def attack(self):
        return 'Pyo-Chang  : ~~~*'
    
    def hunting(self):
        self.Lev += 1
        self.Str += 1
        self.Dex += 5
        self.Int += 1
        self.Luck += 10
        return 'Level Up!'

자 현재 레벨 과 능력치를 확인한 후  사냥을 해보겠습니다.

In [354]:
Aruru = Dojeok()

In [355]:
Aruru.Lev

1

In [356]:
Aruru.Luck

100

In [357]:
Aruru.hunting()

'Level Up!'

In [358]:
Aruru.Lev

2

In [359]:
Aruru.Luck

110

레벨과 능력치가 오른것을 확인할 수 있죠?

-----------------------
***클래스의 상속***   
객체 지향 프로그래밍의 가장 핵심 기능중 하나인 `상속`입니다.  
상속이란 한 클래스가 다른 클래스의 성질을 물려받는 것을 말하는데요.

어떤 클래스를 만들 때 처음부터 모든 것을 새로 만들 필요 없이, 
필요한 성질을 갖고 있는 다른 클래스로부터 상속을 받은 후 원하는 기능을 추가하면  
더 빠르게 새로운 클래스를 만들 수 있습니다.

*위에서 만들어보았던 `Singer` 클래스를 상속받는 댄스가수: `Dancer` 클래스를 만들어 보겠습니다.*

In [381]:
class Dancer(Singer):              # 댄스 클래스에 가수라는 클래스 상속
    def dance(self):                
        return "!~Dance~ Dance~!"

기존 가수의 특징을 가지고 있고 새롭게 추가된 `Dance`메서드도 잘 추가가 되었는지 확인해 봅시다.

In [382]:
JYP = Dancer()
JYP.sing()

'SingSing!'

In [383]:
JYP.dance()

'!~Dance~ Dance~!'

***자 요번에는 객체 변수를 갖는 클래스에 대해 알아봅시다.***

두 수를 입력받아 사칙연산을 하는 계산기를 만들어 볼까요?

In [386]:
class Calculator:
    def setdata(self, first, second):
        self.first = first
        self.second = second
        
    def add(self):
        result = self.first + self.second
        return result
    
    def mul(self):
        result = self.first * self.second
        return result
    
    def sub(self):
        result = self.first - self.second
        return result
    
    def div(self):
        result = self.first / self.second
        return result

In [387]:
Cal1 = Calculator()

`setdata`메서드를 통해 두 수를 지정해준후 사칙연산을 시행해보겠습니다

In [398]:
Cal1.setdata(3,5)

Cal1.add()

8

In [399]:
Cal1.mul()

15

요번엔 `setdata` 를 지정하지 않은 `Cal2`를 만들어보겠습니다

In [400]:
Cal2 = Calculator()
Cal2.add()

AttributeError: 'Calculator' object has no attribute 'first'

`setdata`를 지정해주지 않으면 위와 같이 오류가 발생합니다.  
번거롭게 클래스를 생성하고 값을 집어 넣는 번거로움을 없애는 방법은 무엇일까요?

***생성자 이해하기 feat. __INIT__***

초기값을 설정하고 싶을 때에는 생성자를 만들어 주면 됩니다.  `*생성자(Constructor)란 객체가 생성될 때 자동으로 호출되는 메서드*`  
파이썬 메서드 이름으로 `__init__` 을 정의하여 사용하게 되면 자동으로 클래스가 만들어질때 호출됩니다.

In [402]:
class Calculator:
    def __init__(self,first,second):
        self.first = first
        self.second = second
        
    def add(self):
        result = self.first + self.second
        return result
    
    def mul(self):
        result = self.first * self.second
        return result
    
    def sub(self):
        result = self.first - self.second
        return result
    
    def div(self):
        result = self.first / self.second
        return result

In [404]:
Cal3 = Calculator(3,5)
Cal3.sub()

-2

`__init__`을 이용하여 초기값을 넣어주니 바로 함수를 사용할 수 있는 것을 확인할 수 있습니다.

_________________________
> ## 모듈과 라이브러리 
+ 모듈 == 라이브러리 !

모듈이란 함수와 클래스등을 모아 놓은 파이썬 파일입니다.  
  
만일 개발자가 되어 여러명이서 큰 프로그램을 만드는데  
각각 모두가 매번 필요한 함수, 클래스, 변수를 만들어야 한다고 생각하면 매우 비효율적이라고 생각 들지 않나요?   
이런 경우 모듈은 빛을 발합니다.  
누군가 만들어놓은 모듈을 이용해 효율적으로 일을 처리할 수 있는 것이죠!

*아래의 예시를 보며 모듈 사용법을 익혀 봅시다*

In [413]:
import random  #random 이라는 모듈을 불러오겠다.

a = random.random()  # random 모듈에서 random() 함수를 불러와 사용하겠다 

b = random.randrange(1, 10) # random 모듈에서 randrange() 함수를 불러와 사용하겠다 
                            # 이때 함수 에 대한 설명은 `shift`+`tab`을 눌러 볼 수 있습니다. 

c = ['a', 'b', 'c', 'd']    # 문자 리스트에 저장 

d = random.choice(c)        #리스트중 랜덤 택 1

In [414]:
a

0.9664132689267877

In [415]:
b

8

In [416]:
c

['a', 'b', 'c', 'd']

In [417]:
d

'd'

앞으로 배울 판다스와 머신러닝 분석도 이러한 모듈을 사용하여 데이터 분석을 시작 해볼 예정입니다.

> ## 판다스 기초  
    판다스 라이브러리는 데이터를 수집하고 정리하는데 최적화된 도구 입니다.  
    
    윈도우 명령 프롬프트를 실행하여 판다스 라이브러리를 설치해줍시다  
    `pip install pandas` 를 프롬프트 창에 입력해 주세요  
    
### 데이터 불러오기
#### 1. 외부 파일 읽어오기 
+ 1-1 csv 파일 
데이터 값을 쉼표로 구분하고 있는 csv 파일 입니다.  
저희는 pandas 를 이용하여 이 csv 파일을 읽어 올 겁니다.

*아나콘다를 설치 하셨으므로 안하셔도 됩니다! *

In [21]:
import pandas as pd   # pandas 를 불러오고 이를 매번 치기 힘드니 pd 로 축약 하여 사용하겠다

df_sample = pd.read_csv(r'C:\Users\Damiano\Desktop\DACON 강의 자료 - 머신러닝 기초/df_sample.csv') #슬래시 써야됩니다.
#df_sample 변수에  판다스에 있는 read_csv 함수를 통해 실습 파일을 불러옵시다.

In [420]:
df_sample

    name algol basic c++
0  Jerry     A     C  B+
1   Riah    A+     B   C
2   Paul     B    B+  C+

### 판다스 자료구조 알아보기  
+ 시리즈

+ 데이터 프레임

#### `시리즈`  
시리즈는 데이터가 순차적으로 나열된 1 차원 배열의 형태를 갖습니다.  
![시리즈](https://t1.daumcdn.net/cfile/tistory/995809335BFBCC922B)


 **시리즈 만들기**  
    딕셔너리와 시리즈의 구조가 비슷하여 딕셔너리를 시리즈로 변환하는 방법을 주로 사용합니다.

In [436]:
score = {'english':80, 'math':100, 'science':95} # 위와 같이 딕셔너리를 만들어준 후 
score

{'english': 80, 'math': 100, 'science': 95}

In [437]:
score_sr = pd.Series(score)  # 판다스에 있는 series 함수를 이용하여 딕셔너리를 시리즈 구조로 변환하여 새로운 변수에 저장!
score_sr

english     80
math       100
science     95
dtype: int64

In [438]:
# index 확인하기
score_sr.index

Index(['english', 'math', 'science'], dtype='object')

In [439]:
# 데이터 값만 확인하기 
score_sr.values

array([ 80, 100,  95], dtype=int64)

#### `데이터 프레임`  
데이터프레임은 2차원 배열 입니다.  
\
행과 열로 만들어지는 2차원 배열 구조를 보면 엑셀과 다른 데이터베이스 구조와 굉장히 유사합니다.  
앞에서 보았던 시리즈를 열 벡터라고 한다면 , 데이터 프레임은 여러게의 렬로 이루어진 2차원 벡터 혹은 행렬입니다.
![데이터프레임](https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=http%3A%2F%2Fcfile26.uf.tistory.com%2Fimage%2F99FD8D385BFBECE32D2149)

**데이터 프레임 만들기**  
데이터 프레임 또한 딕셔너리 형식으로 만든 후 데이터 프레임으로 변환하는 방식이 있습니다.

In [442]:
import pandas as pd  

#열이름을 key 로 하고 리스트를 value 로 갖는 딕셔너리 만들기 
data = {'a0':[1,2,3], 'a1':[4,5,6], 'a2':[7,8,9],'a3':[10,11,12]}

#판다스 데이터프레임으로 변환  
df = pd.DataFrame(data)

df

   a0  a1  a2  a3
0   1   4   7  10
1   2   5   8  11
2   3   6   9  12

***행 인덱스/열 이름 설정**  
 2차원 배열을 DataFrame() 함수 인자로 전달하여 데이터 프레임으로 변환할 때 행 인덱스와 열 이름 속성을 사용자가 직접 지정할 수 있습니다.   
 > 인덱스에 '철수' '영희' 를 갖고   
 열이름으로는 '나이','성별','학교' 배열을 갖는 데이터 프레임을 만들어 봅시다

In [22]:

df = pd.DataFrame([[15,'남자','신목중'],[19,'여자','여의도여고']],
                 index =['철수','영희'],
                 columns =['나이','성별','학교'])

df

    나이  성별     학교
철수  15  남자    신목중
영희  19  여자  여의도여고

> 행 인덱스와 열 인덱스를 변경하는 법도 알아봅시다.

In [448]:
df.index = ['재우','재순']
df.columns =['age','sex','school']

df

    age sex school
재우   15  남자    신목중
재순   19  여자  여의도여고

> `rename()` 메서드를 이용하여 원본 객체를 변환하는 방법

In [451]:
df.rename( columns = {'age':'나이','sex':'성별','school':'학교'})

df.rename( index = {'재우':'지형','재순':'지수'})

df

# 인덱스와 열 이름이 변하지 않았는데요

    age sex school
재우   15  남자    신목중
재순   19  여자  여의도여고

In [452]:
# 아래와 같이 inplace = True 를 설정해주어야 원본 객체가 변경 됩니다
df.rename( columns = {'age':'나이','sex':'성별','school':'학교'},inplace=True)

df.rename( index = {'재우':'지형','재순':'지수'}, inplace=True)

df

    나이  성별     학교
지형  15  남자    신목중
지수  19  여자  여의도여고

> 행/열 삭제  

데이터 프레임의 행/ 열을 삭제하는 명령으로는 `drop()` 메서드가 있습니다.  
행을 삭제할때는 축(axis) 옵션으로 `axis=0` 을 입력하거나 별도로 입력하지않습니다.  
열을 삭제할때는 `axis=1`을 입력하면 열이 삭제됩니다.

In [487]:
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'수학' : [ 100, 80, 70], '영어' : [ 98, 69, 95],
             '국어' : [ 80, 75, 100], '체육' : [ 80, 90, 90]}

df = pd.DataFrame(exam_data, index=['재우', '지형', '성진'])
print(df)
print('\n')

# 데이터프레임 df를 복제하여 변수 df2에 저장. df2의 1개 행(row)을 삭제
df2 = df[:]
df2.drop('지형', inplace=True)
print(df2)
print('\n')

# 데이터프레임 df를 복제하여 변수 df3에 저장. df3의 2개 행(row)을 삭제
df3 = df[:]
df3.drop(['지형', '성진'], axis=0, inplace=True)
print(df3)

     수학  영어   국어  체육
재우  100  98   80  80
지형   80  69   75  90
성진   70  95  100  90


     수학  영어   국어  체육
재우  100  98   80  80
성진   70  95  100  90


     수학  영어  국어  체육
재우  100  98  80  80

In [488]:
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'수학' : [ 90, 80, 70], '영어' : [ 98, 89, 95],
             '국어' : [ 85, 95, 100], '체육' : [ 100, 90, 90]}

df = pd.DataFrame(exam_data, index=['재우', '지형', '성진'])
print(df)
print('\n')

# 데이터프레임 df를 복제하여 변수 df4에 저장. df4의 1개 열(column)을 삭제
df4 = df[:]
df4.drop('수학', axis=1, inplace=True)
print(df4)
print('\n')

# 데이터프레임 df를 복제하여 변수 df5에 저장. df5의 2개 열(column)을 삭제
df5 = df[:]
df5.drop(['영어', '국어'], axis=1, inplace=True)
print(df5)

    수학  영어   국어   체육
재우  90  98   85  100
지형  80  89   95   90
성진  70  95  100   90


    영어   국어   체육
재우  98   85  100
지형  89   95   90
성진  95  100   90


    수학   체육
재우  90  100
지형  80   90
성진  70   90

> **데이터 프레임  `행`  선택하기**  
데이터 프레임의 행 데이터를 선택하기 위해서는 `loc` 와 `iloc` 인덱서를 사용합니다.  
인덱스 이름으로 행을 선택할 때에는 loc를 이용하고 , 위치로 인덱스를 사용할 때에는 iloc를 사용합니다.  
![행선택0](https://dandyrilla.github.io/images/2017-08-12/fig3.png?gray)
![행선택](https://dandyrilla.github.io/images/2017-08-12/fig8.png)

**행 선택하기 실습**

In [489]:
df

    수학  영어   국어   체육
재우  90  98   85  100
지형  80  89   95   90
성진  70  95  100   90

**행선택하기**  
`재우` 와 `지형`의 성적을 뽑아내 봅시다

In [490]:
#loc 사용
df.loc[['재우','지형']]

    수학  영어  국어   체육
재우  90  98  85  100
지형  80  89  95   90

In [491]:
#iloc 사용
df.iloc[[0,1]]

    수학  영어  국어   체육
재우  90  98  85  100
지형  80  89  95   90

**범위를 이용하여 행 뽑아내기**  
` : ` 사용하여 범위 지정하기

In [492]:
df.loc['재우':'성진'] # 이름으로 인덱싱 할경우 마지막 포함 
## 재우 부터 성진 까지 행을 뽑아냅니다  
### loc 를 이용할 때에는 마지막 까지 포함됩니다

    수학  영어   국어   체육
재우  90  98   85  100
지형  80  89   95   90
성진  70  95  100   90

In [493]:
df.iloc[0:3]

    수학  영어   국어   체육
재우  90  98   85  100
지형  80  89   95   90
성진  70  95  100   90

> #### 데이터 프레임 열 선택하기  
열 데이터를 1개 선택할 때는 , 대괄호(`[]`) 안에 열 이름을 따옴표`''` 와 함께 입력하거나  
도트`.`다음에 열 이름을 입력하는 두가지 방식을 사용합니다.  
![0](https://dandyrilla.github.io/images/2017-08-12/fig1.png?gray)  
![1](https://dandyrilla.github.io/images/2017-08-12/fig2.png?gray)

**열 선택하기 실습**

In [494]:
df

    수학  영어   국어   체육
재우  90  98   85  100
지형  80  89   95   90
성진  70  95  100   90

In [495]:
df.수학

재우    90
지형    80
성진    70
Name: 수학, dtype: int64

In [496]:
df[['국어','영어']]

     국어  영어
재우   85  98
지형   95  89
성진  100  95

***범위 슬라이싱 고급 활용***  
loc 와 iloc 를 이용하여 원하는 부분을 자유자재로 가져와 사용해 봅시다  

> df.loc[`행 좌표`,`열 좌표`]   
  
  
> df.iloc[`행 좌표`,`열 좌표`]

In [497]:
df

    수학  영어   국어   체육
재우  90  98   85  100
지형  80  89   95   90
성진  70  95  100   90

    재우와 성진이의 영어와 국어점수 뽑아내기

In [498]:
df.loc[['재우','성진'] , ['영어','국어']]

    영어   국어
재우  98   85
성진  95  100

> #### 열과 행 추가하기

In [499]:
# 열 추가 
## 미술 과목의 성적을 추가 해봅시다
## 재우:90  지형:100 성진:95

df['미술'] = [90,100, 95]

df

    수학  영어   국어   체육   미술
재우  90  98   85  100   90
지형  80  89   95   90  100
성진  70  95  100   90   95

In [502]:
# 행 추가 
## 형선 친구의 성적을 추가해봅시다 
## 수학;90  영어:95  국어;100  체육:95  미술:90

df.loc['형선'] = [90, 95, 100, 95, 90]
df

    수학  영어   국어   체육   미술
재우  90  98   85  100   90
지형  80  89   95   90  100
성진  70  95  100   90   95
형선  90  95  100   95   90

> #### 원소 값 변경 하기

In [505]:
## 기존 성적 데이터 프레임
df

    수학  영어   국어  체육   미술
재우  90  98  100  50   90
지형  80  89   95  90  100
성진  70  95  100  90   95
형선  90  95  100  95   90

In [506]:
# 데이터프레임 df의 특정 원소를 변경하는 방법: '재우'의 '체육' 점수
df.iloc[0][3] = 80
print(df)
print('\n')

df.loc['재우']['체육'] = 90
print(df)
print('\n')

df.loc['재우', '체육'] = 100
print(df)
print('\n')

# 데이터프레임 df의 원소 여러 개를 변경하는 방법: '재우'의 '국어', '체육' 점수
df.loc['재우', ['국어', '체육']] = 50
print(df)
print('\n')

df.loc['재우', ['국어', '체육']] = 100, 50
print(df)

    수학  영어   국어  체육   미술
재우  90  98  100  80   90
지형  80  89   95  90  100
성진  70  95  100  90   95
형선  90  95  100  95   90


    수학  영어   국어  체육   미술
재우  90  98  100  90   90
지형  80  89   95  90  100
성진  70  95  100  90   95
형선  90  95  100  95   90


    수학  영어   국어   체육   미술
재우  90  98  100  100   90
지형  80  89   95   90  100
성진  70  95  100   90   95
형선  90  95  100   95   90


    수학  영어   국어  체육   미술
재우  90  98   50  50   90
지형  80  89   95  90  100
성진  70  95  100  90   95
형선  90  95  100  95   90


    수학  영어   국어  체육   미술
재우  90  98  100  50   90
지형  80  89   95  90  100
성진  70  95  100  90   95
형선  90  95  100  95   90

In [507]:
df

    수학  영어   국어  체육   미술
재우  90  98  100  50   90
지형  80  89   95  90  100
성진  70  95  100  90   95
형선  90  95  100  95   90